/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep
/public/assets
.byebug_history
*.swp
*.swo
.DS_Store
/config/master.key
.env
.env.development
.env.test
.env.production
/node_modules
/coverage
/public/packs
/public/packs-test
/.yardoc
/scratchpad/
/.claude/
