<%= link_to (user_signed_in? ? libraries_path : root_path), class: "brand" do %>
  <span class="brand-mark">
    <span class="kanji" aria-hidden="true">函</span>
    <span class="name">BibliotecAI</span>
  </span>
  <span class="tag">Una biblioteca para muchas manos</span>
<% end %>
